@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Open Sans", sans-serif;
  color: black; */
}
p {
  font-size: 18px;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
/* body {
  background: black;
} */
.heading {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 2rem;
}
/* .container {
  width: 100%;
  max-width: 1920px;
  background: #f6f1ee;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 2rem;
} */
.header {
  background-image: url("/images/background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.image-container {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.image-container img {
  max-width: 200px;
  margin: 0 auto;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.info {
  padding: 20px;
}
.info h1 {
  color: #00ff00;
}
.info p {
  color: #00ff41;
  font-weight: 400;
  font-size: 1.5rem;
  max-width: 500px;
  text-align: justify;
}
.btn {
  background: #f3f4f5;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  color: black;
}
.projects-btn {
  background: #f80332;
}
.contact-btn {
  background: #09f755;
}
.skillset {
  font-size: 1.3rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
  font-weight: 500;
}
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.skill {
  text-align: center;
}
.skill i {
  font-size: 4.5rem;
}
.skill img {
  width: 4.5rem;
  height: 4.5rem;
}
.html {
  color: #f16529;
}
.css {
  color: #2965f1;
}
.bootstrap {
  color: #563d7c;
}
.grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
.grid img {
  max-width: 100%;
}
.grid-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stack {
  display: flex;
  margin: 1rem auto;
  font-size: 1.5rem;
}
.stack > * {
  margin-left: 0.4rem;
}
.img-icon {
  display: inline;
  height: 1.1rem;
  margin-top: 2px;
}
.site-link {
  margin-top: 1rem;
  background-color: #09f755;
}
.contact {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}
.contact h2 {
  min-width: 150px;
}
.contact-links {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}
.contact-links a {
  text-decoration: none;
  text-align: center;
}
.contact-links .fab,
.contact-links .fas {
  display: block;
}

/* ADMIN PANEL  */
.project {
  display: flex;
  gap: 1rem;
}
.project img {
  width: 250px;
}

@media (min-width: 899px) {
  .grid {
    display: grid;
    max-width: 100%;
    grid-gap: 20px;
    margin-bottom: 2rem;
    grid-template-columns: 2fr 1fr;
  }
  .grid-img,
  .grid-body {
    padding: 2rem 1rem;
  }
  .grid-img {
    border-radius: 5px;
    place-self: center;
    background-color: #09f755;
  }
  .grid:nth-child(even) .grid-body {
    grid-column: 1;
    grid-row: 1;
  }
  .grid:nth-child(even) .grid-img {
    grid-column: 2;
  }
  .grid:nth-child(even) {
    grid-template-columns: 1fr 2fr;
  }
  .grid-img img {
    min-width: 300px;
    width: 100%;
  }
}
@media (min-width: 500px) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
  }
}
